{% extends 'banner.html.twig' %}
{% block content %}
    <div class="background">
        {% if delete_status == true %}
            <h4>Your account was deleted. Thank you for using our application.</h4>
        {% else %}
            <h4>Something went wrong, please try again.</h4>
        {% endif %}
        <a href={{ base_url() }}><button class="button-small">Back to homepage</button></a>
    </div>
{% endblock %}