{% extends 'banner.html.twig' %}
{% block content %}
    <div class="background">
        <div class="management-wrapper">
            <a href="admin/userManagement"><button class="button-medium" id="button-management">Manage Users</button></a>
        </div>

    </div>
{% endblock %}