{% extends 'banner.html.twig' %}
{% block content %}
    <div class="background">
        <div class="management-wrapper">
            <a class="button-medium" id="button-management" href="admin/userManagement">Manage Users</a>
        </div>

    </div>
{% endblock %}