{% extends 'banner.html.twig' %}
{% block content %}
    <div class="background">
        <div id="user-logs">
    {% if logCount > 0 %}
        <table>
            <tr>
                <th>Log Id</th>
                <th>User Id</th>
                <th>Activity</th>
                <th>Activity Date</th>
                <th>Result</th>
            </tr>
            {% for log in logs %}
                <tr>
                    <td>{{ log['id'] }}</td>
                    <td>{{ log['userId'] }}</td>
                    <td>{{ log['activity'] }}</td>
                    <td>{{ log['activitydate'] }}</td>
                    {% if log['result'] == true %}
                        <td>Success</td>
                    {% else %}
                        <td>Failure</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>There are no logs available for this account.</h3>
    {% endif %}
    <a href="userManagement"><button class="button-small">Back to users</button></a>
        </div>
    </div>
{% endblock %}