{% extends 'banner.html.twig' %}
{% block content %}
<div class="resetPassword--grid background">
    <h2 class="resetPassword--grid--h2">Reset Password</h2>
    <div class="resetPassword--grid--form">
        <div class="resetPassword--grid--errorSpan">
            {% if errorMessage %}
                {% autoescape false %}
                    {{ '<span class="universal--errorMessage">' ~ errorMessage ~ '</span>' }}
                {% endautoescape %}
            {% endif %}
        </div>
        <form method={{ method }} action="{{ action_1 }}">

            <label>Enter new password:</label><br />
            <input type="password" name="newPassword" required />
            <br /><br />
            <label>Repeat the newly entered password:</label><br />
            <input type="password" name="newPasswordRepeated" required />
            <br /><br />
            <input class="btn btn-info" type="submit" value="Reset Password" />

        </form>
    </div>
    <div class="resetPassword--grid--return">
        <a href="{{ landing_page }}" class="btn btn-primary">
            Back to Homepage
        </a>
    </div>
</div>
{% endblock %}