{% extends 'banner.html.twig' %}
{% block content %}
        <div class="resetPasswordSuccess-div background">
            <span class="universal-successMessage">Your password was reset!</span>
            <br />
            <br />
            <a href="{{ landing_page }}">Continue to homepage now</a>
        </div>
{% endblock %}
