{% extends 'banner.html.twig' %}
{% block content %}
    <div class="container" id="grid-wrapper">
        <div id="grid-download-data">
            <div class="row" id="row-downloaded">

                <div class="col">
                    <div class="card card-message" >
                        <div class="card-body">
                            <h5 class="card-title">Message ID</h5>
                            <ul>
                                <li>Switch 1:</li>
                                <li>Switch 2:</li>
                                <li>Switch 3:</li>
                                <li>Switch 4:</li>
                                <li>Fan:</li>
                                <li>Temperature:</li>
                                <li>Last key pressed:</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-message" >
                        <div class="card-body">
                            <h5 class="card-title">Message ID</h5>
                            <ul>
                                <li>Switch 1:</li>
                                <li>Switch 2:</li>
                                <li>Switch 3:</li>
                                <li>Switch 4:</li>
                                <li>Fan:</li>
                                <li>Temperature:</li>
                                <li>Last key pressed:</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-message" >
                        <div class="card-body">
                            <h5 class="card-title">Message ID</h5>
                            <ul>
                                <li>Switch 1:</li>
                                <li>Switch 2:</li>
                                <li>Switch 3:</li>
                                <li>Switch 4:</li>
                                <li>Fan:</li>
                                <li>Temperature:</li>
                                <li>Last key pressed:</li>
                            </ul>
                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}