{% extends 'layout.html.twig' %}

{% block footer %}

    <footer>
        <!-- Copyright -->
        <div class="footer-wrapper" style="background-color: black">
            <div id="creators-div">
            <h5>CTEC 3110 Secure Web App Development Coursework</h5>
                <h6>Created by Adam Machowczyk and Dominik Michalski</h6>
            </div>
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}